<div>
    <p class="font-bold font20">Galleries Featuring This Image</p>
    <div class="gallery-item">
        <div class="gallery-image">
            <img src="https://picsum.photos/id/14/250/166" alt="Gallery Image">
        </div>
        <div class="gallery-details">
            <p>Gallery 1</p>
        </div>
    </div>
    <hr>
    <div class="gallery-item">
        <div class="gallery-image">
            <img src="https://picsum.photos/id/104/384/216" alt="Gallery Image">
        </div>
        <div class="gallery-details">
            <p>Gallery 2</p>
        </div>
    </div>
    <hr>
    <div class="gallery-item">
        <div class="gallery-image">
            <img src="https://picsum.photos/id/123/492/326" alt="Gallery Image">
        </div>
        <div class="gallery-details">
            <p>Gallery 3</p>
        </div>
    </div>
    <hr>
    <div class="gallery-item">
        <div class="gallery-image">
            <img src="https://picsum.photos/id/156/217/326" alt="Gallery Image">
        </div>
        <div class="gallery-details">
            <p>Gallery 4</p>
        </div>
    </div>
</div>